.form {
  display: flex;
  flex-direction: column;
  color: var(--text-color);

  label {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    background: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 0.5rem;
    border: 1px solid var(--title-color);
  }

  textarea {
    min-height: 10rem;
  }

  button {
    background: none;
    border: none;
    color: var(--text-color);
    margin-top: 2rem;
    cursor: pointer;
    width: min-content;

    span {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
    }
  }

  p {
    font-size: 1rem;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.emailContainer,
.phoneContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emailContainer {
  margin-right: 1rem;
}

.textAreaInput {
  resize: none;
}
