$bg: #212529;
$article-color: #292929;
$color: #f8f9fa;
$title-color: #939598;

:root {
  --bg-color: #{$bg};
  --bg-article-color: #{$article-color};
  --text-color: #{$color};
  --title-color: #{$title-color};
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: $bg;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;

  @media screen and (max-width: 1366px) {
    font-size: 55%;
  }
}
