.contactContainer {
  display: flex;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  p {
    font-size: 1rem;
  }
}

.title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  width: 100%;

  h1 {
    font-size: 4.6rem;
    font-weight: 400;
    color: var(--title-color);
  }

  span {
    position: absolute;
    left: 0;
    font-size: 12rem;
    font-weight: 700;
    opacity: 25%;
  }
}
