.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media screen and (max-width: 768px) {
    height: auto;

    .contactContainer {
      grid-template-columns: 1fr;
      row-gap: 10rem;
      margin: 5rem;
    }

    .cardWrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  margin: 0 10rem;
  max-width: 150rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  p {
    font-size: 1.3rem;
  }
}

.title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  width: 100%;

  h1 {
    font-size: 4.6rem;
    font-weight: 400;
    color: var(--title-color);
  }

  span {
    position: absolute;
    left: 0;
    font-size: 12rem;
    font-weight: 700;
    opacity: 25%;
  }
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 5rem;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 25rem;

  h4 {
    color: var(--title-color);
    font-size: 1.7rem;
    font-weight: 400;
  }

  p {
    font-size: 1.3rem;
  }
}

.iconContainer {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--title-color);
  }
}

.adressCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 25rem;

  h4 {
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-size: 1.7rem;
    font-weight: 400;
  }

  p {
    font-size: 1.3rem;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--title-color);
  }
}
