.headerContainer {
  display: none;

  nav {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid var(--text-color);

    .anchorContainer {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 10rem;
      width: 100%;

      a {
        position: relative;
        z-index: 10;
        color: var(--text-color);
        font-size: 2rem;
      }

      span {
        position: absolute;
        left: 0;
        font-size: 7rem;
        font-weight: 700;
        opacity: 25%;
      }
    }

    .one,
    .two,
    .three {
      background-color: var(--text-color);
      height: 0.5rem;
      width: 100%;
      transition-duration: 0.3s;
    }

    .two {
      margin: 0.6rem auto;
    }

    .menuToggle {
      width: 4rem;
      height: 3rem;
      margin-right: 2rem;
      border-radius: 50%;
    }

    .menuSectionOn {
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--bg-color);
    }

    .menuSectionOn .menuToggle {
      position: absolute;
      right: 0rem;
      top: 4rem;
    }

    .menuSectionOn .menuToggle .one {
      transform: rotate(45deg) translateY(100%);

      @media screen and (max-width: 768px) {
        transform: rotate(45deg) translateY(70%);
      }
    }

    .menuSectionOn .menuToggle .two {
      display: none;
    }

    .menuSectionOn .menuToggle .three {
      transform: rotate(-45deg) translateY(-100%);
    }

    .menuSectionOn nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .logo {
    margin: 0 2rem;
    height: 6.5rem;
    width: 14rem;
  }
}
